{{>header}}
    <p id="home-title">Get your weather forcast here!</p>
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>
    
    <p id="error"></p>
    <p id="location"></p>
    <P id="forecast"></P>

{{>footer}}